.main {
  width:100%;
}
.card
{
  width: 30% !important;

float: left !important;

margin-right: 3% !important;
display: block !important;




min-width: 0;

}
.cardContainer
{
  margin-left: 25px;
}
.tryLink
{
  float: left;
  clear: both;
}

